<%- include("header.ejs") -%>
<div class="content">
  <h1 class="title item">Compose</h1>
  <h4 class="title item">Title</h4>
  <form action="/" method="post">
   <textarea class="title-textarea" name="Posttitle" rows="1" cols="115" ></textarea>
    <h4 class="title item">Post</h4>
    <textarea name="Postbody" rows="8" cols="115" ></textarea>
    <button type="submit" name="button">Publish</button>
  </form>

</div>
<%- include("footer.ejs") -%>
