<%- include("header.ejs") -%>
  <div class="content">
    <%  for (var i = 0; i < titles.length; i++) {  %>
      <h2 class="item">  <%=titles[i]%>  </h2>
      <p class="item"> <%=bodys[i]%>  </p>
    <%  } %>
  </div>
<%- include("footer.ejs") -%>
