body {
  margin: 0px;
}
  .header {
    background-color: #EFEFEF;
    height: 120px;
  }
      .Daily {
        color: #423F3E;
        margin-left: 100px;
        margin-top: 30px;
        font-family: 'Koulen', cursive;
        display: inline-block;
      }
      .home {
        margin-left: 700px;
      }
      .left {
        margin-left: 20px;
      }
  .content{
  margin-left: 100px;
  width: 850px;
  }
    .item{
      font-family: 'Montserrat', sans-serif;
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
    }
    .title-textarea{
      resize: none;
    }

    button {
      margin-top: 10px;
      background: #000000;
      background-image: -webkit-linear-gradient(top, #000000, #022d47);
      background-image: -moz-linear-gradient(top, #000000, #022d47);
      background-image: -ms-linear-gradient(top, #000000, #022d47);
      background-image: -o-linear-gradient(top, #000000, #022d47);
      background-image: linear-gradient(to bottom, #000000, #022d47);
      -webkit-border-radius: 11;
      -moz-border-radius: 11;
      border-radius: 11px;
      font-family: Arial;
      color: #ffffff;
      font-size: 20px;
      padding: 9px 20px 10px 20px;
      text-decoration: none;
    }

    button:hover {
      background: #3cb0fd;
      text-decoration: none;
    }
